<%- include ('../partials/header') %>

<h1><%=currentmentordata.firstname%> <%=currentmentordata.lastname%></h1>
<p><%=currentmentordata.designation%> at <%=currentmentordata.company%></p>
<p><%=currentmentordata.yearsOfExperience%> years of experience in <%=currentmentordata.industry%> industry</p>

<h1>I'm a mentor</h1>

<ul>
    <%currentmentordata.intention.forEach(intention=>{%>
        <li><%=intention%></li>

    <%})%>
</ul>

<button type="button" class="btn btn-success">Ask me to mentor</button>


<%- include ('../partials/footer') %>