
<%- include ('../partials/header') %>

<link rel="stylesheet" href="/css/editprofile.css">

</head>

<%- include ('../partials/navbar') %>

<div class="container edit-profile-form">
  <h1>Edit profile</h1>
<div class="edit-pic">
  <%if (currentuserprofile.img){%>
  <img src="<%=currentuserprofile.img%>" class="profile-pic img-border">
  <%} else {%>
<img src="/users/default-profile-icon-4.jpg" class="profile-pic img-border">
 <% }%>
</div>


<form method="POST" action="/mentorapp/user/<%=currentuserprofile.slug%>/edit?_method=PATCH"/edit">
    <div class="form-group">
        <label for="firstname">First name</label>
        <input type="text" class="form-control" id="firstname" value="<%=currentuserprofile.firstname%>" name="firstname">
      </div>

      <div class="form-group">
        <label for="lastname">Last name</label>
        <input type="text" class="form-control" id="lastname" value="<%=currentuserprofile.lastname%>" name="lastname">
      </div>

      <div class="form-group">
        <label for="img">Change profile image link</label>
        <input type="text" class="form-control" id="img" value="<%=currentuserprofile.img%>" name="img">
      </div>

      <div class="form-group">
        <label for="userid">Username</label>
        <input type="text" class="form-control" id="userid'" value="<%=currentuserprofile.userid%>" name="userid">
      </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" value="<%=currentuserprofile.email%>" name="email">
    </div>
   
   
    <div class="form-group">
      <label for="description">Bio</label>
    <textarea class="form-control" id="description" rows="3" name="description"> <%if (currentuserprofile.description) {%> <%=currentuserprofile.description%> <%}%></textarea> 
    </div>

    <button type="submit" class="btn btn-primary">Edit profile</button>

  </form>
  <form method="POST" action="/mentorapp/user/<%=currentuserprofile.slug%>/delete?_method=DELETE">
    <button type="submit" class="btn btn-link delete">Delete account</button>
</form>

</div>

<%- include ('../partials/footer') %>

</body>
</html>