<%- include ('../partials/header') %>

<%- include ('../partials/navbar') %>
<h1>Following</h1>

<!-- for every mentor in mentor list, show the mentor small img and the first name last name with an unfollow button -->
<% mentorlist.forEach(mentorinfo=>{%>
<p>
    <img class="small-pic" src="<%=mentorinfo.img%>"> <%=mentorinfo.firstname%> <%=mentorinfo.lastname%>      
</p>

<form method="POST" action="/mentorapp/mentors/<%=mentorinfo.slug%>/unfollow?_method=PATCH">
    <button type="submit" class="btn btn-primary">Unfollow</button>
</form>


    <%})%>

<%- include ('../partials/footer') %>

</body>
</html>