<%- include ('../partials/header') %>
<link rel="stylesheet" href="/css/profile.css">
</head>

<%- include ('../partials/navbar') %>

<div class="container profile-section">
    <div class="row bio-section">
        <div class="col-3">
            
                <img src="<%=currentuserprofile.img%>" class="profilepage-pic">  
        </div>

        <div class="col-9">
            <div class="profile-name">
                <h1 class="profile-name small"><%=currentuserprofile.firstname%> <%=currentuserprofile.lastname%> </h1>
            </div>
            
            <a class="btn btn-special-light-green" href="/mentorapp/user/<%=currentuserprofile.slug%>/edit" role="button">Edit profile</a>
            <p class="bio-title following"><a class="following" href="/mentorapp/user/<%=currentuserprofile.slug%>/following">Following: <%=currentuserprofile.mentors.length%>  mentors</a> </p>
            <%if (currentuserprofile.description){%>
            <h1 class="small bio-title">Bio:</h1>
            <p class="bio-small">
                
                    <%=currentuserprofile.description%>
               
            </p>
        <%}else {%>
            <p class="bio-title"><a href="/mentorapp/user/<%=currentuserprofile.slug%>/edit">Add bio</a></p>
            <%}%>   
            
            <a class="btn btn-special-light-green" href="/mentorapp/user/<%=currentuserprofile.slug%>/newpost" role="button">New post</a>
        </div>
    </div>

    <h1 class="title">Posts</h1>

    <%currentuserpost.forEach(post=>{%>

        <div class="row justify-content-center">
          <div class="post d-flex align-items-start flex-column bd-highlight mb-3">

              <div class="d-flex align-items-start flex-column bd-highlight mb-3">
                <p><%=post.comment%></p>
              </div>
            

              <div class="mt-auto p-2 bd-highlight">
                <small><%=post.created_at.toDateString()%></small>
              </div>
                
            </div>
          
            
              
           

        </div>

      
        
        <%})%>
</div>





<!-- <h1><%=currentuserprofile.firstname%></h1>

<h1><%=currentuserprofile.lastname%></h1>





<h1>Following</h1>
<a class="btn btn-primary" href="/mentorapp/user/<%=currentuserprofile.slug%>/following" role="button">Following</a>

<a class="btn btn-primary" href="/mentorapp/user/<%=currentuserprofile.slug%>/edit" role="button">Edit profile</a> -->


<!-- delete route -->
<!-- <form method="POST" action="/mentorapp/user/<%=currentuserprofile.slug%>/delete?_method=DELETE">
    <button type="submit" class="btn btn-primary">Delete account</button>
</form> -->
<!-- -->

<%- include ('../partials/footer') %>

</body>
</html>